@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Concert+One&family=Cormorant:wght@300&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&family=Kalnia+Glaze:wght@100..700&display=swap');


/* body part*/

body{
  font: 20px;
  font-family: 'Basic';
  padding:0;
  margin:0;
  background-color: white ;
  color: black;
    background: #bdc3c7;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2c3e50, #bdc3c7);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sidenav{
  display: none;
}
.font{
    font-family: "Bungee Tint", sans-serif;
      font-weight: 400;
      font-style: normal;
}
.membership{
  border-radius:0 0 30% 30%;
}
/* Header */
.heading{
  text-align: center;
  color: #ffffff;
}
.black{
  color: rgb(224, 164, 164);
}
header {
	background: url('images/bg.jpg');
	text-align: center;
	height: auto;
  background-position: center;
	background-size: cover;
	background-attachment: scroll;
	position: relative;
	overflow: hidden;
}
.overlay{
	height: 50%;
	padding-top: 150px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
 
}

.btn-new {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
.btn-new:hover{
	cursor: pointer;
}
.search::placeholder {
  /* Set your desired color here */
  color: white;
}
li{
  list-style: none;
}
a{
  color: white;
  text-decoration: none;
}
.text-h2{
  background-color: black;
  position: relative;
  top: 160px;
  text-align:center;
  font-weight: 1000;
  color: rgb(255, 0, 0);
}
.member{
  text-align: center;
  margin: 0 auto;
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(17, 15, 15, 0.445);
}

.navbar-brand {
  margin-left: 45%;
    font-family: "Kalnia Glaze", serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
  font-size: 1.75rem;
  letter-spacing: 3px;
}
/* Header end */
/* Mobile Nav */
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';

html, body {
	height: 100%;
	margin: 0px;
  font-family: 'Roboto Condensed';
}

.wrapper{
  z-index: 2;
	position: relative;
  text-align: center;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#scroll-up-btn {
 display: block;
 visibility: hidden;
  transition: opacity 0.4s ease-in-out;
  /* Add transition */
}

#bottom-bar{
	width: 100%;
	background-color: #263238;
  border-radius: 30% 30% 0 0;
	position: fixed;
  bottom: 0;
}

.bottom-bar-element {
	width: 15%;
	display: inline-block;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	color: white;
  cursor: pointer;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.bottom-bar-element:hover {
	color: white !important;
}
.bottom-bar-element:active{
  background-color: #0a9fe4;
  height: 103.5px;
  width: 103.5px;
  border-radius: 60%;
  transform: translateY(-40px);
}
.symbol:active{
  transform: translateY(10px);
}


#bottom-bar:hover .bottom-bar-element {
	color: #78909C;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
/* Mobile Nav Enda */

/* CSS */
.btn-style{
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-style:focus {
  outline: 0;
}

.btn-style:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn-style:hover:after {
  bottom: 2px;
  left: 2px;
}

.card{
  margin: 2rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
/* Footer Area */

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0px;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}
.footer-dark .item.social > a {
  font-size:25px;
  width:38px;
  height:38px;
  padding-top: 6px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 10px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}



@media (min-width: 768px) {
  .btn-style{
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 600px) {
 #scroll-up-btn{

  visibility:visible;
 }
 .navbar-brand {
   margin-left: 35%;
 }
 }

 



